 <>
 <!DOCTYPE html>
<html lang="en">
     
<%- include('layouts/header.ejs') -%>
<body>
    <!-- Navigation-->
    <%- include('layouts/navbar.ejs') -%>
    <!-- Page Header-->

        <!-- Page Header-->
        <header class="masthead" style="background-image: url('/assets/img/contact-bg.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="page-heading">
                            <h1>register new account</h1>
                             </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <main class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                       
                          
                            <form id="contactForm" data-sb-form-api-token="API_TOKEN" action="/user/login" method="POST" enctype="multipart/form-data">
                                <div class="form-floating">
                                    <input class="form-control" id="userName" name="userName" type="text" placeholder="Enter your title..." data-sb-validations="required" />
                                    <label for="userName">userName</label>
                                     
                                </div>
                               
                              
                                <br>
                                <div class="form-floating">
                                    <input class="form-control" id="password" name="password" type="password" placeholder="Enter your password" data-sb-validations="required" />
                                    <label for="password">password</label>
                                     
                                </div>
                               
                                <br />
                                 <!-- Submit Button-->
                                <button class="btn btn-primary " id="SendMessageButton" type="submit">login</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <!-- Footer-->
        <%- include('layouts/footer.ejs') -%>
        <!-- Bootstrap core JS -->
        <%- include('layouts/scripts.ejs') -%>
        
          </body>
</html>
